strong{
    color: #A787C0;
}

span{
    color: #4E286B;
}

a{
    color: #785096;
}

header{
    vertical-align: middle;
    font-weight: 700;
    font-size: 20px;
    display:inline-block;
    vertical-align:middle;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: black;
    color:white;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

img{
    vertical-align: middle;
    margin-left: 90%;
    width: 10%;
}