*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-de-fundo: #151515;
    --cor-das-letras: #f6f6f6;
    --cor-das-letras-2: #3C415C;
    --cor-de-destaque: #3C415C;
    --cor-das-caixas: #301B3F;
    --cor-hover: #0F1123;

    --fonte-principal: "EB Garamond", serif;
    --fonte-secundária: "Averia Serif Libre", serif;
}

.titulo-destaque{
    color: #B4A5A5;
}

.pfp{
    margin-left: 10%;
    width: 400%;
    border-radius: 16px;
}

header{
    color: var(--cor-das-letras-2);
    font-family: var(--fonte-secundária);
    font-weight: 400;
    font-size: 1.25rem;
}

.cabecalho{
    padding: 2% 0% 0% 3%
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    text-decoration: none;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-das-letras);
    box-sizing: border-box;
    font-family: var(--fonte-secundária);
    font-weight: 400;
    font-style: 1.5rem;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5%
}

.apresentacao__conteudo{
    width: auto;
}

.apresentacao__conteudo__secao{
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 700;
    font-size: 1.625rem;
}

.apresentacao__conteudo__intro{
    font-size: 20px;
}

.apresentacao__conteudo__listas{
    font-size: 20px;
    padding: 2.5%;
    margin: 20px
}

.apresentacao__conteudo__listas__certificado{
    color: var(--cor-de-destaque);
}

a{
    text-decoration: none;
    color: var(--cor-de-destaque)
}

.rodape{
    padding: 24px;
    text-align: center;
    background-color: var(--cor-das-caixas);
    color: var(--cor-das-letras);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-style: 24px;
}

@media (max-width: 900px){
    .cabecalho{
        padding: 6%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .pfp{
        width: 65%;
        margin-bottom: 5%;
    }
    .rodape{
        margin-top: 5%;
    }
}